<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="sign_in.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="Shortcut icon" href="media/icon.png">
        <title>Sign_in</title>
    </head>
    <body> 
        <header class="main-header">
            <nav>
                 <ul>
                    <li id="logo" ><a href="welcome_page.html">Simplified</a></li>
                    <li><a href="sign_in.html">Sign in</a></li>
                    <li><a href="sign_up.html">Sign up</a></li>
                    <li><a href="#">FAQ</a></li>
                 </ul>
            </nav>           
        </header>
        <div id="main" >
            
             <div id="formulaire" >
                 <form method="post" action="sign_in.php"></form>
                      <div id="main_text" > Sign in now</div>
                          <input type="text" placeholder="user name, E-mail, Phone number *" > <br>
                          <input type="password"  placeholder="password *"><br>
                          <button id ="sign_in">Sign in </button>
                          <div id="line1"></div>
                          <p class="or">OR</p>
                             <button type="button" class="signup-btn">Login with google</button><br>
                             <button type="button" class="signup-btn">Login with facebook</button><br>
                             <button type="button" class="signup-btn">Login with twitter</button><br>
                             <button type="button" class="signup-btn">Login with instagram</button><br>
                 </form>
             </div>
         </div>  
         <footer>
            <div id="line2"></div>
                <div id="copyrightEtIcons">
                    <div id="icons">
                        <a href="http://www.twitter.fr"><i class="fa fa-twitter"></i></a>
                        <a href="http://www.facebook.fr"><i class="fa fa-facebook"></i></a>
                        <a href="http://www.instagram.com"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>               
        </footer>                 
    </body> 