<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="sign_up.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="Shortcut icon" href="media/icon.png">
        <title>Sign_up</title>
    </head>
    <body> 
        <header class="main-header">
            <nav>
                 <ul>
                    <li id="logo" ><a href="welcome_page.html">Simplified</a></li>
                    <li><a href="sign_in.html">Sign in</a></li>
                    <li><a href="sign_up.html">Sign up</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </nav>           
        </header>
                 <div id="main">
                      <div id="formulaire">
                          <form method="post" action="sign_up.php"name="f"></form>
                              <div id="main_text" > Sign up now</div>
                              <input type="text" placeholder="First name *"><br>
                              <input type="text" placeholder="Last name *"><br>
                              <input type="Email" placeholder="E-mail *"><br>
                              <select size="1" name="jj">
                              <option>jj</option>
                              <option>1</option>
                              <option>2</option>                  
                              </select>
                              <select size="1" name="mm">
                              <option>mm</option>
                              <option>1</option>
                              <option>2</option>                  
                              </select>
                              <select size="1" name="aaaa">
                              <option>aaaa</option>
                              <option>1930</option>
                              <option>1931</option>                  
                              </select> <br>
                              <input type="text" placeholder="Adress *"><br>
                              <input  type="text" placeholder="Phone number *"><br>
                              <input type="password" placeholder="Password *"><br>
                              <input  type="password" placeholder="Confirm password"><br>
                              <input  type="checkbox" name="">I agree to the terms of services <br>
                              <button id="sign_up">Sign up </button><br>
                               <button id="g">continue with google </button> 
                               <button id="f">continue with facebook </button> 
                               <button id="t">continue with twitter </button> 
                               <button id="i">continue with instagram </button>  
                          </form>
                     </div>                                  
                        
                 </div> 
         <footer>
             <div id="line2"></div>
                     <div id="copyrightEtIcons">
                     <div id="icons">
                     <a href="http://www.twitter.fr"><i class="fa fa-twitter"></i></a>
                     <a href="http://www.facebook.fr"><i class="fa fa-facebook"></i></a>
                     <a href="http://www.instagram.com"><i class="fa fa-instagram"></i></a>
                     </div>
             </div>            
         </footer>        
    </body>
</html>